.card2 {
  padding: 20px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
}

.card2:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.img1 {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.zx {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-body {
  padding: 15px;
}

.info {
  text-align: left;
}

.b {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.text-start {
  color: #555;
}

.cnt {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 15px;
}